@inherits Simplisity.RazorEngineTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using CDSviewerDNN.Components

@{
    var moduleData = (ModuleDataLimpet)Model.List.First();
    var remoteSetings = (SimplisityInfo)Model.GetDataObject("remotesettings");
}


<div style="
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 16px;
    line-height: 12px;
    color: black;
    font-size: 9px;
    background-color: #fff;
    padding: 2px 4px;
    font-weight: bold;
    user-select: none;
    transition-duration: 200ms;
    opacity: 1;">

    
    <span id="copytext@(moduleData.ModuleRef)" title="@remoteSetings.GetXmlProperty("genxml/remote/modulename") : @remoteSetings.GetXmlProperty("genxml/remote/org").@remoteSetings.GetXmlProperty("genxml/remote/apptheme").@remoteSetings.GetXmlProperty("genxml/remote/appthemeversion") - @moduleData.ModuleRef" style="cursor: pointer;" onclick="CopyTextToClipboard@(moduleData.ModuleRef)('@(moduleData.ModuleRef)')">
        <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 0 24 24" width="12px" fill="#0000ff"><path d="M0 0h24v24H0z" fill="none" /><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z" /></svg>
    </span>
</div>

<script>
    function CopyTextToClipboard@(moduleData.ModuleRef)(textvalue) {
        var textArea = document.createElement("textarea");
        textArea.value = textvalue;
        document.body.appendChild(textArea);
        textArea.select();
        try {
            var successful = document.execCommand('copy');
            $('#copytext@(moduleData.ModuleRef)').hide();
            $('#copytext@(moduleData.ModuleRef)').fadeIn();
        }
        catch (err) {
            console.log('Oops, unable to copy');
        }
        textArea.remove();
    }

</script>
