<root>
  <websitemappath>D:\Nevoweb\DevWebsites\dev.testinstall.site\Website</websitemappath>
  <list>
    <websitemappath>D:\Nevoweb\DevWebsites\admin.toasted2.site\Website</websitemappath>
    <websitemappath>D:\Nevoweb\DevWebsites\dev.testinstall.site\Website</websitemappath>
    <websitemappath>D:\Nevoweb\Websites\dev.rocketsystem.com\www</websitemappath>
	  <websitemappath>D:\Nevoweb\DevWebsites\tosted.site\Website</websitemappath>
    <websitemappath>D:\Nevoweb\DevWebsites\winmut.site\Website</websitemappath>
  </list>  
</root>
